#imgDiv {
    display: grid;
    grid-template: auto auto auto / auto;
    justify-content: space-evenly; /* align horizontal */
    align-items: center; /* align vertical */
    flex-wrap: wrap;
}

.img-inicio {
    width: 100%;
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Pantallas de más de 1200 píxeles */
@media only screen and (min-width: 1200px) {
    #imgDiv {
        grid-template: auto / auto auto auto;
    }
    .img-inicio {
        width: 30vw;
        max-width: 620px;
    }
}
