* {
    color: white;
    font-family: Raleway, sans-serif;
}

html {
    background-color: black;
}

main {
    background-color: rgb(5, 5, 5);
}

.video {
    padding: 0vw;
}

.fw-name::after {
    content: "®";
    vertical-align: super;
    font-size: smaller;
}

/* Header */

.header-img {
    display: block;
    width: 23vw;
    padding: 0vw 37.5vw;
    margin: 10px auto;
    background-color: rgb(5, 5, 5);
}

/* Nav buttons */

#nav-buttons {
    display: flex;
    width: 24vw;
    justify-content: space-between;
    align-items: center;
    margin: 0vw auto;
}

#nav-buttons li {
    display: inline;
    float: none;
    border-radius: 10px;
    background-color: grey;
    /* width: 400px; */
    padding: 10px;
    list-style: none;
}

#nav-buttons li a:link {
    font-size: 1.2rem;
    text-decoration: none;
}

/* Footer */

.fa {
    color: white;
}

footer {
    text-align: center;
    font-size: 1.2em;
    background-color: rgb(5, 5, 5);
}
