* {
    color: white;
    font-family: Raleway, sans-serif;
}

html {
    background-color: black;
}

main {
    background-color: rgb(5, 5, 5);
}

.video {
    padding: 0vw;
}

.fw-name::after {
    content: "®";
    vertical-align: super;
    font-size: smaller;
}

/* Header */

.header-img {
    display: block;
    width: 25%;
    margin: 10px auto;
    min-width: 200px;
    background-color: rgb(5, 5, 5);
}

/* Nav buttons */

#nav-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0vw;
}

#nav-buttons li {
    display: inline;
    float: none;
    background-color: grey;
    width: 100%;
    padding: 8px;
    list-style: none;
    white-space: nowrap;
    border-top: 1px solid rgb(212, 210, 210);
    border-bottom: 1px solid rgb(212, 210, 210);
}

#nav-buttons li a:link {
    font-size: 1.0rem;
    text-decoration: none;
    text-align: center;
}


/* Pantallas de más de 768 píxeles */
@media only screen and (min-width: 768px) {
    #nav-buttons {
        width: 450px;
        flex-direction: row;
        padding: 10px;
        margin: 0vw auto;
    }
    #nav-buttons li {
        width: auto;
        border-width: 0px;
        border-radius: 10px;
    }
    #nav-buttons li a:link {
        font-size: 1.2rem;
    }
}

/* Footer */

.fa {
    color: white;
    font-size: 1.5em;
}

footer {
    text-align: center;
    font-size: 1.2em;
    background-color: rgb(5, 5, 5);
}

/* Pantallas de más de 768 píxeles */
@media only screen and (min-width: 768px) {
    .fa {
        font-size: 1.2em;
    }
}
